*/blob_storage
*/GPUCache
*/Platform Notifications
*/Session Storage
*/sessions
*/thumbnails
*/browsedata.db
*/Cookies
*/Cookies-journal
*/Network Persistent State
*/session.dat
*/session.dat.old
*/TransportSecurity
*/Visited Links
*/adblock/easylist.txt
*/adblock/nocoinlist.txt
